<% @title = "Smillie!について" %>
Smillie!は、気軽に楽しめる、共有写真アルバムサービスです。<br />
<img src="/images/line.gif" /><br />
&#xE689;<a href="#part1">Smillie って？</a><br />
&#xE689;<a href="#part2">主な特長</a><br />
&#xE689;<a href="#part3">こんなときに便利</a><br />
&#xE689;<a href="#part4">注意事項</a><br />
&#xE689;<a href="#part4">運営団体</a><br />
<img src="/images/line.gif" /><br />
<a name="#part1">&nbsp;</a>
▲上 <a href="#part2">▼下</a>
<a name="#part1">&nbsp;</a>
<div style="background-color:#007D08;"><span style="font-size:medium;color:#FFFFFF">Smillie って？</span></div>
<p>Smillie!に登録すると、ひとつメールアドレスが発行されます。そのメールアドレス宛に写真を添付して送ると、専用のサイトに写真が追加されていきます。仲間内だけにメールアドレス・サイトの URL を教えておけば、即席の共有写真アルバムができあがります。</p>
<p>※発行するメールアドレスの管理には十分ご注意ください。アルバム有効期間内は、そのメールアドレス宛であれば誰でも写真をアップできます。</p>
<img src="/images/line.gif" /><br />
<div style="text-align:center">
&#xE6F0;<%= link_to "今すぐ使ってみる", :action=>"new", :controller=>"parties" %>
</div>
<img src="/images/line.gif" /><br />
<a name="#part2">&nbsp;</a>
<a href="#part1">▲上</a> <a href="#part3">▼下</a>
<div style="background-color:#007D08;"><span style="font-size:medium;color:#FFFFFF">主な特長</span></div>
・誰でも写真をアップできる、共有アルバムが即席で作れる！<br />
・写真編集機能付き！削除・回転などができます。<br />
・パソコンからは、きれいなスライドショーが見られる！<br />
・集めた写真は、あとから一括ダウンロードできる！<br />
※パソコンからのみ<br />
<img src="/images/line.gif" /><br />
<div style="text-align:center">
&#xE6F0;<%= link_to "今すぐ使ってみる", :action=>"new", :controller=>"parties" %>
</div>
<img src="/images/line.gif" /><br />
<a name="#part3">&nbsp;</a>
<a href="#part2">▲上</a> <a href="#part4">▼下</a>
<div style="background-color:#007D08;"><span style="font-size:medium;color:#FFFFFF">こんなときに便利です！</span></div>
・飲み会<br />
・同窓会<br />
・結婚式<br />
…などなど、あらゆるイベントにお使いいただけます！
<img src="/images/line.gif" /><br />
<div style="text-align:center">
&#xE6F0;<%= link_to "今すぐ使ってみる", :action=>"new", :controller=>"parties" %>
</div>
<img src="/images/line.gif" /><br />
<a name="#part4">&nbsp;</a>
<a href="#part3">▲上</a> ▼下
<div style="background-color:#007D08;"><span style="font-size:medium;color:#FFFFFF">注意事項</span></div>
・写真はイベント日より1週間後まで保存します。それ以降は削除され、スライドショーにもアクセスできなくなります。<br />
・Smillie!は個人の楽しみの範囲でご利用ください。Smillie!をご利用いただいたことに関連したいかなる問題にも運営者は関与しません。
<img src="/images/line.gif" /><br />
<div style="text-align:center">
&#xE6F0;<%= link_to "今すぐ使ってみる", :action=>"new", :controller=>"parties" %>
</div>
<img src="/images/line.gif" /><br />
<a name="#part5">&nbsp;</a>
<a href="#part4">▲上</a> ▼下
<div style="background-color:#007D08;"><span style="font-size:medium;color:#FFFFFF">運営団体</span></div>
Smillie!はtinymonksという個人の集まりが運営しています。
<img src="/images/line.gif" /><br />
<div style="text-align:center">
&#xE6F0;<%= link_to "今すぐ使ってみる", :action=>"new", :controller=>"parties" %>
</div>
<img src="/images/line.gif" /><br />
